
body{
    /* background-image: url('../Phase-1-Project-Exotic-large-Breed-Dogs/Images/boerboel-pup.jpg');
    background-repeat: no-repeat; */
    height:100vh;
    /* background-size:cover;
    background-position:top; */
    background-color: cyan;

}

.nav-menu {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.nav-menu li{
    display: inline-block;
}
.nav-menu li a{
    color:white;
    text-decoration:none;
    padding: 5px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.nav-menu li a:hover {
    background-color:burlywood;
}
.name{
    /* height: 80vh; */
    width: 100%;
    margin: auto;
    padding: top 10px;
}
.name h3{
    color:rgb(15, 12, 12);
    display:inline-block; 
    padding: 10px;
    font-family:verdana, tahoma;
    font-size: 48px; 
    margin: 0px 0px;
}
.name h4{
    font-size: 15px;
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px 10px;
}
.dogs{
    display: flex;
    position: relative;
}
.dogs img{
width: 700px;
height: 350px;
}
.BreedList{
    margin-top: 5%;
}
.BreedList ul{
    
    padding: 10px;
    display: block;
    -webkit-columns:3;
    -moz-columns:3;
    columns:3;
}
.BreedList ul{
    height:40vh;
    overflow-x: scroll;
    overflow-y: hidden;

}